$black: #0c0c0c;
$grey: #787878;
$white: #fafafa;
.nav-bar-icon {
  font-size: 30px;
  color: $white;
  transition: all 0.5s;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.nav-holver:focus {
  outline: 0;
}
.nav-holder {
  z-index: 10;
  position: fixed;
  left: 0;
  width: 100%;
  color: $white;
  font-weight: bold;
  font-size: 17px;
  padding: 0;
  font-family: "RocknRoll One", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
.nav-bar-button {
  background-color: transparent;
  outline: none;
  border: none;
  margin: 20px 0 0 0;
  display: none;
  -webkit-tap-highlight-color: transparent;
}
.nav-list {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
  flex-direction: row;
  align-items: flex-start;
  -webkit-tap-highlight-color: transparent;
}

.nav-item {
  padding: 5px 20px;
  margin: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.nav-item:hover {
  text-shadow: 1px 0px 6px orange;
}

@media (max-width: 700px) {
  .nav-bar-button {
    display: block;
  }
  .nav-holder {
    left: 20px;
    text-align: start;
  }
  .nav-list {
    flex-direction: column;
    visibility: hidden;
  }
  .nav-item span {
    z-index: 10;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    background-color: orange;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
    font-size: 15px;
    padding: 5px 15px;
  }
  .visible {
    .nav-item span {
      overflow: hidden;
      width: 0;
    }
    .nav-item {
      white-space: nowrap;
      text-align: start;
      margin: 5px;
      padding: 5px 0;
      animation: fullsize;
      animation-fill-mode: forwards;
      animation-duration: 0.5s;
      overflow: hidden;
      display: inline-block;
      width: 0;
    }
  }
  .fadeout.nav-list {
    visibility: visible;
  }
  .fadeout {
    .nav-item span {
      margin: 0;
      padding: 5px 15px;
      overflow: hidden;
      width: 100%;
    }
    .nav-item {
      white-space: nowrap;
      text-align: start;
      margin: 5px;
      padding: 5px 0;
      animation: nosize;
      animation-fill-mode: forwards;
      animation-duration: 0.5s;
      overflow: hidden;
      display: inline-block;
      width: 100%;
    }
  }
  @for $i from 1 through 10 {
    .visible .nav-item:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.05}s;
    }
  }
  .fadeout .nav-item {
    animation: nosize;
    animation-duration: 0.3s;
    width: 100%;
    animation-fill-mode: forwards;
  }
}
@media (min-width: 700px) {
  .nav-list {
    visibility: visible !important;
  }
  .nav-bar-button {
    visibility: hidden;
  }
  .nav-holder {
    background-color: $grey;
    padding: 5px 0;
  }
}

@keyframes fullsize {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes nosize {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
